/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font: 400 16px/1.4 Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

a {
  &:link, &:visited {
    text-decoration: none;
    color: inherit;
  }
  &:hover, &:focus {
    text-decoration: underline
  } 
}

.page-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.ellipses {
  display: -webkit-box;
  overflow : hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
}
